@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
    font-family: 'Roboto',
        sans-serif;
}

body {
    height: 100vh;
}

.primary {
    height: 36px;
    padding: 0 16px;
    outline: 0;
    border: 0 solid transparent;
    border-radius: 0;
    background: #ffc629;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    width: 140px;
}


.reverse {
    height: 36px;
    padding: 0 16px;
    outline: 0;
    border: 0 solid transparent;
    border: 2px solid #ffc629;
    background: #fff;
    color: #333;
    text-decoration: none;
    font-weight: 600;
    width: 140px;
}

button:hover {
    background: #333;
    color: #fff;
    cursor: pointer;
}

.container {
    min-width: 1376px;
    margin: 0 auto;
}


.navbar-brand {
    height: 60px;
    display: flex;
    align-items: center;
}

/* Index */
.hero_image {
    min-height: 620px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://pd1hk.bumbcdn.com/ssc/static-eu3.bumble.com/files/e/2.1.mgfBZES6-elQXZ2rKcYFyZvZDpoVhLbZC1fb8cyLj4NQCFWQu_W3yTA-qMI6wS1_/");
}

.hero_block {
    display: block;
    width: 100%;
    padding: 30px;
    background-color: rgba(255, 255, 255, .9);
    text-align: center;
    max-width: 640px;
}

.hero_block h1 {
    font-weight: 700;
    color: #333333;
    font-size: 36px;
    line-height: 1.1;
    margin: 0;
}

.hero_block p {
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.35;
    color: #333;
}

.hero_block button {
    margin: 0 8px
}

/* Sign Up */
.get-started_wrapper {
    margin: 45px auto;
    width: 560px;
}

.form-login {
    margin: 75px auto;
}

.get-started_wrapper h1 {
    margin-bottom: 0;
    text-align: center;
    letter-spacing: .01em;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.35;
    color: #333333
}

.form-card_container {
    width: 50%;
    margin: auto
}

/* App */

.app-container {
    background: #FFF7D8;
    height: 540px;
    width: 75%;
    border-radius: 7.5%;
}

.app-image {
    height: 540px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 7.5%;
    border-bottom-left-radius: 7.5%;
}

.app-body h1 {
    font-weight: 700;
    font-size: 36px;
    color: #333333;
    margin: 8px 0;
}

.app-body p {
    color: #333333;
    font-size: 18px;
    margin: 0;
}

.app-button-container {
    position: relative;
    margin-top: -110px;
    z-index: 9999999999999999;
}

.app-button-wrapper {
    width: 320px;
    margin: auto;
}

.reject,
.accept {
    border: 1px solid #dcdcdc;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 100%;
}

.app-button,
.superswipe-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-button:hover {
    cursor: pointer;
    width: 90px;
    height: 90px;
}

.superswipe-button {
    width: 124px;
    cursor: pointer;
    height: 129px;
}

.superswipe-button:hover {
    cursor: pointer;
    width: 134px;
    height: 139px;
}